<a href="https://colab.research.google.com/github/prativap1/Linear-regression-project/blob/main/project_LinReg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading of Libraries

In [184]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style='white', color_codes=True)

#Reading and displaying Data

In [185]:
data = pd.read_csv("/content/SeoulBikeData.csv")

In [186]:
print("Dimension of SeoulBike dataset", data.shape)

Dimension of SeoulBike dataset (8760, 14)

In [187]:
data

            Date  Rented Bike Count  Hour  ...  Seasons     Holiday  Functioning Day
0     01/12/2017                254     0  ...   Winter  No Holiday              Yes
1     01/12/2017                204     1  ...   Winter  No Holiday              Yes
2     01/12/2017                173     2  ...   Winter  No Holiday              Yes
3     01/12/2017                107     3  ...   Winter  No Holiday              Yes
4     01/12/2017                 78     4  ...   Winter  No Holiday              Yes
...          ...                ...   ...  ...      ...         ...              ...
8755  30/11/2018               1003    19  ...   Autumn  No Holiday              Yes
8756  30/11/2018                764    20  ...   Autumn  No Holiday              Yes
8757  30/11/2018                694    21  ...   Autumn  No Holiday              Yes
8758  30/11/2018                712    22  ...   Autumn  No Holiday              Yes
8759  30/11/2018                584    23  ...   Autumn  No Holiday              Yes

[8760 rows x 14 columns]

In [188]:
len(data)

8760

In [189]:
data.count()

Date                        8760
Rented Bike Count           8760
Hour                        8760
Temperature(C)              8760
Humidity(%)                 8760
Wind speed (m/s)            8760
Visibility (10m)            8760
Dew point temperature(C)    8760
Solar Radiation (MJ/m2)     8760
Rainfall(mm)                8760
Snowfall (cm)               8760
Seasons                     8760
Holiday                     8760
Functioning Day             8760
dtype: int64

In [190]:
# Extracting dataframe for only 'number' datatypes
df = data.select_dtypes(include=['float64','int64'])
df.head()

   Rented Bike Count  Hour  ...  Rainfall(mm)  Snowfall (cm)
0                254     0  ...           0.0            0.0
1                204     1  ...           0.0            0.0
2                173     2  ...           0.0            0.0
3                107     3  ...           0.0            0.0
4                 78     4  ...           0.0            0.0

[5 rows x 10 columns]

In [191]:
df.shape

(8760, 10)

In [192]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Rented Bike Count         8760 non-null   int64
 1   Hour                      8760 non-null   int64
 2   Temperature(C)            8760 non-null   float64
 3   Humidity(%)               8760 non-null   int64
 4   Wind speed (m/s)          8760 non-null   float64
 5   Visibility (10m)          8760 non-null   int64
 6   Dew point temperature(C)  8760 non-null   float64
 7   Solar Radiation (MJ/m2)   8760 non-null   float64
 8   Rainfall(mm)              8760 non-null   float64
 9   Snowfall (cm)             8760 non-null   float64
dtypes: float64(6), int64(4)
memory usage: 684.5 KB

In [193]:
df.describe()

       Rented Bike Count         Hour  ...  Rainfall(mm)  Snowfall (cm)
count        8760.000000  8760.000000  ...   8760.000000    8760.000000
mean          704.602055    11.500000  ...      0.148687       0.075068
std           644.997468     6.922582  ...      1.128193       0.436746
min             0.000000     0.000000  ...      0.000000       0.000000
25%           191.000000     5.750000  ...      0.000000       0.000000
50%           504.500000    11.500000  ...      0.000000       0.000000
75%          1065.250000    17.250000  ...      0.000000       0.000000
max          3556.000000    23.000000  ...     35.000000       8.800000

[8 rows x 10 columns]

In [194]:
# Missing values
miss_val = df.isna().sum()
miss_val

Rented Bike Count           0
Hour                        0
Temperature(C)              0
Humidity(%)                 0
Wind speed (m/s)            0
Visibility (10m)            0
Dew point temperature(C)    0
Solar Radiation (MJ/m2)     0
Rainfall(mm)                0
Snowfall (cm)               0
dtype: int64

In [195]:
#Constructing correlation Matrix
data_corr = df.corr()
data_corr

                          Rented Bike Count  ...  Snowfall (cm)
Rented Bike Count                  1.000000  ...      -0.141804
Hour                               0.410257  ...      -0.021516
Temperature(C)                     0.538558  ...      -0.218405
Humidity(%)                       -0.199780  ...       0.108183
Wind speed (m/s)                   0.121108  ...      -0.003554
Visibility (10m)                   0.199280  ...      -0.121695
Dew point temperature(C)           0.379788  ...      -0.150887
Solar Radiation (MJ/m2)            0.261837  ...      -0.072301
Rainfall(mm)                      -0.123074  ...       0.008500
Snowfall (cm)                     -0.141804  ...       1.000000

[10 rows x 10 columns]

## Finding correlation of data

In [196]:
data_corr = data_corr['Rented Bike Count'][:-1]
data_corr=data_corr[abs(data_corr)>=0.30].sort_values(ascending=False)

In [197]:
data_corr.head()

Rented Bike Count           1.000000
Temperature(C)              0.538558
Hour                        0.410257
Dew point temperature(C)    0.379788
Name: Rented Bike Count, dtype: float64

In [198]:
df1=data[['Rented Bike Count','Hour','Temperature(C)','Humidity(%)','Wind speed (m/s)']]
df1.head()

   Rented Bike Count  Hour  Temperature(C)  Humidity(%)  Wind speed (m/s)
0                254     0            -5.2           37               2.2
1                204     1            -5.5           38               0.8
2                173     2            -6.0           39               1.0
3                107     3            -6.2           40               0.9
4                 78     4            -6.0           36               2.3

In [199]:
df1.shape

(8760, 5)

## Prepare data for modeling

In [200]:
x=df1.drop(['Rented Bike Count'],axis=1)
x.head()

   Hour  Temperature(C)  Humidity(%)  Wind speed (m/s)
0     0            -5.2           37               2.2
1     1            -5.5           38               0.8
2     2            -6.0           39               1.0
3     3            -6.2           40               0.9
4     4            -6.0           36               2.3

In [201]:
y=df1['Rented Bike Count']
y.head()

0    254
1    204
2    173
3    107
4     78
Name: Rented Bike Count, dtype: int64

In [202]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2)
print(train_x.shape)
print(test_x.shape)
print(train_y.shape)
print(test_y.shape)

(7008, 4)
(1752, 4)
(7008,)
(1752,)

## Training Model

In [203]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error, r2_score

In [204]:
model= LinearRegression()
model.fit(train_x,train_y)

LinearRegression()

## Testing Model

In [205]:
model_pred=model.predict(test_x)
model_pred

array([  36.47201102, 1030.53923575, 1046.64390687, ..., 1476.84266325,
        553.13425008,   45.68385008])

In [206]:
model_score=model.score(test_x,test_y)
model_score

0.4454707089260552

In [207]:
#final prediction on test data
predic_test = model.predict(test_x)

#Create Sample Submission file 
submission_data = pd.DataFrame({'Id':test_y,'Pred_SalePrice':model_pred})
submission_data
val_y = pd.DataFrame(test_y)
val_y['Predicted'] = submission_data['Pred_SalePrice']

val_y

      Rented Bike Count    Predicted
2760                244    36.472011
2774                575  1030.539236
4847               1401  1046.643907
7099               1743  1254.446851
8082               2314  1055.588357
...                 ...          ...
333                 316   561.594334
1591                227   -23.525552
5637               1994  1476.842663
8628                700   553.134250
1680                178    45.683850

[1752 rows x 2 columns]